.ethmap-card {
  background-color: #0f2b33;
  color: rgb(226, 226, 226);
  margin: 10px 10px 20px 10px;
  padding: 10px;
}

.card-logo {
  display: block;
  text-align: center;
  margin: 0;
}

.card-title {
  margin: 10px;
  color: rgb(226, 226, 226);
  font-weight: 600;
}

.card-content {
  margin: 10px;
}

.player-card {
  text-align: center;
  color: rgb(226, 226, 226);
  display: block;
}

.player-name {
  font-size: 16px;
  margin: 10px;
}

.player-title {
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  .ethmap-card {
    max-width: 50vw;
  }

  .card-logo {
    display: flex;
    align-items: center;
  }

  .card-logo img {
    display: block;
    margin: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .player-card {
    width: 500px;
    height: 500px;
  }

  .player-name {
    font-size: 18px;
    margin: 10px;
  }

  .player-title {
    font-size: 16px;
  }
}
