.entry-section {
  background: url("../../assets/Intro.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
}

.status {
    margin: 10px;
    color: red;
    font-size: 16px;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.minting-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(226, 226, 226);
  justify-content: flex-end;
  height: 400px;
}

.mint-text {
  color: rgb(226, 226, 226);
  font-size: 16px;
  margin: 5px;
}

.mint-text::selection {
  color: black;
  text-shadow: 2px 2px 10px rgb(0 0 0 / 97%);
  font-weight: 400px;
}

.desktop-nav {
  display: none;
}

.intro-wrapper {
  height: max-content;
  color: rgb(226, 226, 226);
  background-color: transparent;
  position: relative;
  background-image: linear-gradient(180deg, #150a20 0%, #000000 49%);
}

.intro-title {
  margin: 0;
  font-family: "Cinzel", serif;
  padding: 60px 20px 0px 20px;
  font-size: 20px;
}

.intro-content {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.intro-explained {
  top: 45%;
  padding: 60px 20px 0 20px;
}

.explained-title {
  font-family: "Cinzel", serif;
  font-size: 20px;
}

.ethmap-title {
  font-family: "Cinzel", serif;
  color: rgb(226, 226, 226);
  padding: 20px 20px 0px 20px;
  font-size: 20px;
  margin: 0;
}

.ethmap-img {
  height: 100%;
  width: 100%;
}

.community-wrapper {
  background-image: url("../../assets/disc_banner.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.community-content {
  max-width: 40%;
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.community-btn {
  margin: 0 5%;
  max-width: 180px;
}

.team-title {
  font-family: "Cinzel", serif;
  color: rgb(226, 226, 226);
  padding: 20px 20px 0px 20px;
  font-size: 20px;
  margin: 0;
}

.team-wrapper {
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(160deg, #12423f 0%, #000000 57%);
}

.team-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #000000;
  text-align: center;
  color: rgb(226, 226, 226);
}

.footer-links {
  text-decoration: underline;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10% 10%;
  cursor: pointer;
}

.footer-links li:hover {
  color: #e4cb86;
}

.footer img {
  width: 400px;
}

.trademark {
  margin: 0;
}

.faq-wrapper {
  background-color: transparent;
  background-image: linear-gradient(160deg, #000000 47%, #3c1e56 100%);
  color: rgb(226, 226, 226);
}

.faq-header {
  text-align: center;
  color: rgb(226, 226, 226);
}

.ant-collapse {
  border-style: solid;
  border-width: 0;
  border-radius: 0;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  background-image: linear-gradient(160deg, #000000 47%, #3c1e56 100%);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: rgb(226, 226, 226);
}

.ant-collapse-content {
  border-top: 0;
}

.ant-collapse-content > .ant-collapse-content-box {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  border-style: solid;
  color: rgb(226, 226, 226);
  background-image: linear-gradient(160deg, #000000 47%, #3c1e56 100%);
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0px;
}

.wallet {
  height: 100vh;
  width: 100vw;
  background: url("../../assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  height: 100vh;
}

.txt-img {
  width: 100%;
  height: 25%;
}

.txt-img-2 {
  height: 30%;
}

.mint-img {
  width: 60%;
  height: 40vh;
}

.wallet-btn, .wallet-btn-link {
    height: auto;
    width: 120px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    background: burlywood;
    font-weight: 700;
    color: #444;
}

.wallet-btn-link:hover {
  color: #000;
}

.wallet-input {
  height: auto;
  width: auto;
  min-width: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  background: #f8f8f8;
  font-weight: 700;
  color: #444;
}

.wallet-input-wrappper {
display: "flex";
flex-direction: column;
justify-content: center;
align-items: center;
}

@media screen and (min-width: 640px) {
  .entry-section {
    height: 100vh;
    background: url("../../assets/Intro.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: 600;
  }
  .status  {
    margin: 50px;
    color: red;
    font-size: 16px;
    position: inherit;
}
  .wallet-input-wrappper {
    display: flex;
    flex-direction: row;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .minting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 280px auto;
    height: 200px;
  }

  .mint-text {
    color: rgb(226, 226, 226);
    font-size: 22px;
    margin: 5px;
  }

  .intro-title {
    margin: 0 10%;
    padding: 60px 20px 0px 20px;
    font-size: 36px;
  }

  .intro-wrapper {
    height: 120vh;
  }

  .intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 40vh;
  }

  .intro-content,
  .community-content {
    padding: 20px;
    margin: 0 10%;
    max-width: 540px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    text-align: left;
  }

  .intro-carousal {
    width: 100vw;
    /* margin-left: 10%; */
  }

  .carousal-align {
    display: flex;
  }

  .ethmap-wrapper {
    padding: 0 10%;
  }

  .ethmap-content {
    display: flex;
  }

  .ethmap-title,
  .team-title {
    font-size: 36px;
  }

  .ethmap-img {
    display: block;
    height: 120vh;
    width: auto;
  }

  .community-btn {
    margin: 0 10%;
    padding: 20px;
    max-width: 180px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .trademark {
    display: block;
    font-size: 12px;
    color: #8a8a8a;
  }

  .link {
    margin: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    width: 99vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-links {
    margin-left: 10%;
  }

  .faq-header {
    color: rgb(226, 226, 226);
    font-size: 36px;
  }

  .faq-wrapper {
    padding: 30px;
  }

  .faq-collapse {
    margin: 0px 10%;
  }

  .wallet {
    height: 100vh;
    width: 100vw;
    background: url("../../assets/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .txt-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    height: 100vh;
  }
  
  .txt-img {
    width: 80%;
    height: 50%;
  }
  
  .txt-img-2 {
    height: 30%;
  }
  
  .mint-img {
    width: 80%;
    height: 100vh;
  }
  
  .wallet-btn,
  .wallet-btn-link {
    height: auto;
    width: auto;
    min-width: 80px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background: burlywood;
    font-weight: 700;
    color: #444;
  }
  
  .wallet-btn-link:hover {
    color: #000;
  }
  
  .wallet-input {
    height: auto;
    width: auto;
    min-width: 80px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background: #f8f8f8;
    font-weight: 700;
    color: #444;
  }
}

@media screen and (min-width: 1600px) {
  .ethmap-img {
    display: block;
    height: 1000px;
    width: auto;
  }

  .mint-text {
    font-size: 24px;
  }

  .intro-title,
  .ethmap-title,
  .team-title,
  .explained-title {
    font-size: 40px;
  }

  .intro-explained {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .intro-wrapper {
    height: 120vh;
    background-color: transparent;
    background-image: linear-gradient(180deg, #150a20 0%, #000000 49%);
  }

  .card-title {
    font-size: 26px;
  }

  .intro-content,
  .card-content {
    font-size: 18px;
  }

  .community-content {
    font-size: 18px;
    text-align: left;
  }

  .faq-header {
    font-size: 36px;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    font-size: 18px;
  }

  .ant-collapse-content {
    font-size: 16px;
  }
}
