.carousal-wrapper {
  min-width: 40vw;
  min-height: 40vh;
  cursor: grab;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: dodgerblue;
}

@media screen and (min-width: 640px) {
  .carousal-wrapper img {
    max-height: 75vh;
    max-width: 30vw;
  }
}
